html, body {
	height: 100%;
	position: relative;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header {
	background-color: #6c757d;
	color: #fff;
}

.menu_item {
	display: block;
	margin: 0;
	padding: 0;
	text-align: right;
}

.menu .btn {
	border-radius: 0;
}

.menu .btn:hover {
	cursor: pointer;
}

.footer {
	position: absolute;
	bottom: 0;
}

.logo {
	text-align: center;
	height: 100%;
}

.logo h4 {
	display: block;
	line-height: 1.4;
	height: 100%;
	margin-bottom: 0;
}

.form {
	width: 300px;
	border: 1px solid #ccc;
	padding: 25px;
	margin-top: 50px;
}

.form input {
	width: 100%;
	display: block;
}

.form .btn {
	margin-top: 20px;
}