html, body {
	height: 100%;
	position: relative;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header {
	background-color: #6c757d;
	color: #fff;
}

.menu_item {
	display: block;
	margin: 0;
	padding: 0;
	text-align: right;
}

.menu .btn {
	border-radius: 0;
}

.menu .btn:hover {
	cursor: pointer;
}

.footer {
	position: absolute;
	bottom: 0;
}

.logo {
	text-align: center;
	height: 100%;
}

.logo h4 {
	display: block;
	line-height: 1.4;
	height: 100%;
	margin-bottom: 0;
}

.form {
	width: 300px;
	border: 1px solid #ccc;
	padding: 25px;
	margin-top: 50px;
}

.form input {
	width: 100%;
	display: block;
}

.form .btn {
	margin-top: 20px;
}

/* Connect Popup */

.card-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.card-login>.card-header {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.card-login>.card-header a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
}
.card-login>.card-header a.active{
	color: #029f5b;
	font-size: 18px;
}
.card-login>.card-header hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.card-login input[type="text"],.card-login input[type="email"],.card-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.card-login input:hover,
.card-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.popup_btn {
	cursor: pointer;
}
